# About this notebook
<p style="text-align: justify"> Here, you will learn the basic statements of python and function. Some codes will be given for demonstration. Some other codes, you will do as excercise.</p>

## Submission
<p style="text-align: justify">After completing the practice codes and exercises, download the notebook (.pynb file) and submit the notebook  to MS Teams inbox in the class period</p>
<p> 1.<b> You must submit your own code</b>. If similarity found negative marking will be given.</p>
<p> 2. Modify the file name writing your ID at the beigining of the file name.</p><p> <b>Example: 20-45961-3 Lab 02.ipynb</b></p>
<p> 3. Other file format (except .pynb) or link will not be accepted.</p>

# User Input

In [1]:
# Basic User Input
name = input("Enter your name: ")
print("Hello, " + name + "!")

Enter your name: Safkat
Hello, Safkat!

In [2]:
age = input("Enter your age: ")
print("You are " + age + " years old.")

Enter your age: 45
You are 45 years old.

In [ ]:
# Taking Integer Input
age = int(input("Enter your age: "))
print("You will be", age + 1, "years old next year.")

Enter your age: 23
You will be 24 years old next year.

In [3]:
number = int(input("Enter a number: "))
print("Double of your number is", number * 2)

Enter a number: 10
Double of your number is 20

In [4]:
#Taking Multiple Inputs (Space-Separated)
a, b = map(int, input("Enter two numbers separated by space: ").split())
print("Sum:", a + b)

Enter two numbers separated by space: 10 20
Sum: 30

In [8]:
x, y = map(int, input("Enter two numbers separated by space: ").split())
print("Product:", x * y)

Enter two numbers separated by space: 10 30
Product: 300

In [9]:
# List Input from User
numbers = list(map(int, input("Enter numbers separated by space: ").split()))
print("You entered:", numbers)

Enter numbers separated by space: 10 20
You entered: [10, 20]

In [10]:
words = input("Enter words separated by space: ").split()
print("You entered:", words)

Enter words separated by space: Safkat Khan
You entered: ['Safkat', 'Khan']

In [12]:
# Handling Invalid Input (Using Try-Except)
try:
    num = int(input("Enter a number: "))
    print("Square of the number:", num ** 2)
except ValueError:
    print("Invalid input! Please enter a valid number.")

Enter a number: 10
Square of the number: 100

In [11]:
try:
    n = int(input("Enter a number: "))
    print("Square:", n ** 2)
except ValueError:
    print("Invalid input! Please enter a valid number.")

Enter a number: 10
Square: 100

# if statement
There can be zero or more elif parts, and the else part is optional. The keyword ‘elif’ is short for ‘else if’

In [16]:
# Basic if Statement
age = int(input("Enter your age: "))

if age >= 18:
    print("You are eligible to vote.")

Enter your age: 10

In [14]:
n = int(input("Enter a number: "))

if n > 0:
    print("The number is positive.")

Enter a number: 40
The number is positive.

In [17]:
#if-else Statement
num = int(input("Enter a number: "))

if num % 2 == 0:
  print("The number is even.")
else:
  print("The number is odd.")

Enter a number: 10
The number is even.

In [18]:
num = int(input("Enter a number: "))

if num % 3 == 0:
    print("The number is divisible by 3.")
else:
    print("The number is not divisible by 3.")

Enter a number: 40
The number is not divisible by 3.

In [19]:
# if-elif-else Statement
marks = int(input("Enter your marks: "))

if marks >= 90:
    print("Grade: A")
elif marks >= 80:
    print("Grade: B")
elif marks >= 70:
    print("Grade: C")
elif marks >= 60:
    print("Grade: D")
else:
    print("Grade: F")

Enter your marks: 40
Grade: F

In [20]:
score = int(input("Enter your score: "))

if score >= 85:
    print("Grade: Excellent")
elif score >= 70:
    print("Grade: Good")
elif score >= 50:
    print("Grade: Pass")
else:
    print("Grade: Fail")

Enter your score: 75
Grade: Good

In [ ]:
# Checking Multiple Conditions (and, or)
temperature = float(input("Enter the temperature: "))

if temperature > 30 and temperature < 40:
    print("It's a hot day.")
elif temperature >= 40:
    print("It's extremely hot!")
else:
    print("The weather is normal.")

Enter the temperature: 22
The weather is normal.

In [21]:
age = int(input("Enter your age: "))

if age >= 18 and age < 65:
    print("You are an adult.")
elif age >= 65 or age < 18:
    print("You are either a senior or a minor.")
else:
    print("Invalid age.")

Enter your age: 25
You are an adult.

In [22]:
# Nested if Statement
num = int(input("Enter a number: "))

if num > 0:
    print("The number is positive.")
    if num % 2 == 0:
        print("It is also even.")
    else:
        print("It is odd.")
elif num < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

Enter a number: 50
The number is positive.
It is also even.

In [23]:
grade = int(input("Enter your grade: "))

if grade >= 50:
    print("You passed.")
    if grade >= 85:
        print("Excellent performance!")
    else:
        print("Good job, keep improving.")
else:
    print("You failed. Try again.")

Enter your grade: 50
You passed.
Good job, keep improving.

# for statement
<p style="text-align: justify">The for statement in Python differs a bit from what you may be used to in C or C++. Rather than always giving the user the ability to define both the iteration step and halting condition, Python’s for statement iterates over the items of any sequence (a list or a string), in the order that they appear in the sequence.</p>

In [25]:
#Basic for Loop
for i in range(5,10):
    print("Iteration:", i)

Iteration: 5
Iteration: 6
Iteration: 7
Iteration: 8
Iteration: 9

In [24]:
#Basic for Loop
for i in range(10,21):
    print("Iteration:", i)

Iteration: 10
Iteration: 11
Iteration: 12
Iteration: 13
Iteration: 14
Iteration: 15
Iteration: 16
Iteration: 17
Iteration: 18
Iteration: 19
Iteration: 20

In [26]:
# for Loop Over a List
fruits = ["Apple", "Banana", "Cherry"]

for fruit in fruits:
    print(fruit)

Apple
Banana
Cherry

In [27]:
# for Loop Over a List
colours = ["Red", "Green", "Blue"]

for colour in colours:
    print(colour)

Red
Green
Blue

In [28]:
# Looping Through a String
word = "Python"

for char in word:
    print(char)

P
y
t
h
o
n

In [29]:
word = "Programing"

for char in word:
    print(char)

P
r
o
g
r
a
m
i
n
g

In [30]:
# Looping with range(start, stop, step)
for i in range(2, 10, 4):
    print(i)

2
6

In [32]:
for i in range(5, 16, 5):
    print(i)

5
10
15

In [ ]:
# Looping Over a Dictionary
student = {"name": "Alice", "age": 20, "grade": "A"}

for key, value in student.items():
    print(key, ":", value)

name : Alice
age : 20
grade : A

In [35]:
car = {"name": "Supra", "model":2006, "color": "Red"}

for key, value in car.items():
    print(key, ":", value)

name : Supra
model : 2006
color : Red

In [36]:
# Using for Loop with enumerate()
colors = ["Red", "Green", "Blue"]

for index, color in enumerate(colors):
    print(index, ":", color)

0 : Red
1 : Green
2 : Blue

In [37]:
# Using for Loop with enumerate()
colors = ["Red", "Green", "Blue"]

for index, color in enumerate(colors):
    print(index, ":", color)

0 : Red
1 : Green
2 : Blue

In [38]:
# Nested for Loop
for i in range(1, 4):
    for j in range(1, 4):
        print(f"i={i}, j={j}")

i=1, j=1
i=1, j=2
i=1, j=3
i=2, j=1
i=2, j=2
i=2, j=3
i=3, j=1
i=3, j=2
i=3, j=3

In [39]:
# Nested for Loop
for i in range(1, 9):
    for j in range(1, 8):
        print(f"i={i}, j={j}")

i=1, j=1
i=1, j=2
i=1, j=3
i=1, j=4
i=1, j=5
i=1, j=6
i=1, j=7
i=2, j=1
i=2, j=2
i=2, j=3
i=2, j=4
i=2, j=5
i=2, j=6
i=2, j=7
i=3, j=1
i=3, j=2
i=3, j=3
i=3, j=4
i=3, j=5
i=3, j=6
i=3, j=7
i=4, j=1
i=4, j=2
i=4, j=3
i=4, j=4
i=4, j=5
i=4, j=6
i=4, j=7
i=5, j=1
i=5, j=2
i=5, j=3
i=5, j=4
i=5, j=5
i=5, j=6
i=5, j=7
i=6, j=1
i=6, j=2
i=6, j=3
i=6, j=4
i=6, j=5
i=6, j=6
i=6, j=7
i=7, j=1
i=7, j=2
i=7, j=3
i=7, j=4
i=7, j=5
i=7, j=6
i=7, j=7
i=8, j=1
i=8, j=2
i=8, j=3
i=8, j=4
i=8, j=5
i=8, j=6
i=8, j=7

In [40]:
# for Loop with break and continue
for num in range(1, 6):
    if num == 3:
        continue  # Skips 3
    if num == 5:
        break  # Stops loop at 5
    print(num)

1
2
4

In [41]:
for num in range(1, 9):
    if num == 4:
        continue  # Skips 3
    if num == 6:
        break  # Stops loop at 5
    print(num)

1
2
3
5

# Functions
<p style="text-align: justify">The keyword def introduces a function definition. It must be followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented.</p>

In [43]:
# Basic Function (No Parameters, No Return)
def greet():
    print("Hello, Welcome to Python!")

greet()  # Calling the function

Hello, Welcome to Python!

In [44]:
def greet():
    print("Hello, Welcome!")

greet()  # Calling the function

Hello, Welcome!

In [42]:
# Function with Parameters
def add_numbers(a, b):
    print("Sum:", a + b)

add_numbers('5', '7')  # Output: Sum: 8

Sum: 57

In [45]:
def add_numbers(a, b):
    print("Sum:", a + b)

add_numbers('5', '9')

Sum: 59

In [46]:
add_numbers('ad','am')

Sum: adam

In [47]:
add_numbers('ad','me')

Sum: adme

In [48]:
# Function with Return Value
def multiply(a, b):
    return a * b

result = multiply(4, 5)
print("Multiplication:", result)  # Output: 20

Multiplication: 20

In [49]:
# Function with Default Parameter
def greet(name="Guest"):
    print("Hello,", name)

greet()          # Output: Hello, Guest
greet("Alice")   # Output: Hello, Alice

Hello, Guest
Hello, Alice

In [ ]:
# Function with Multiple Return Values
def get_square_and_cube(n):
    return n**2, n**3

square, cube = get_square_and_cube(3)
print("Square:", square, "Cube:", cube)  # Output: Square: 9, Cube: 27

Square: 9 Cube: 27

In [ ]:
# Function Using *args (Multiple Arguments)
def add_all(*numbers):
    return sum(numbers)

print(add_all(1, 2, 3, 4, 5))  # Output: 15

15

<b>Exercise 1:</b> Write a Python program to find the sum of the first N natural numbers using a for loop.<br>
Example:<br>
Input: N = 5  
Output: 15

In [50]:
N = int(input("Enter a number: "))
total = 0

for i in range(1, N + 1):
    total += i

print("Sum of first", N, "natural numbers is:", total)

Enter a number: 5
Sum of first 5 natural numbers is: 15

<b>Exercise 2:</b> Write a Python program that reverses a string using a for loop.<br>
Example: <br>
Input: "Python"  
Output: "nohtyP"

In [ ]:
text = input("Enter a string: ")
reversed_text = ""

for char in text:
    reversed_text = char + reversed_text

print("Reversed string:", reversed_text)

<b>Exercise 3:</b> Define a <b>method/function</b> which will take two lists of numbers and returns a list (sum of two lists)
<p>Example:<br>
    Input: [3,4,5,1] and [6,7,2,8]<br>
    output: [9,11,7,9]</p>

In [ ]:
def sum_lists(list1, list2):
    result = []
    for i in range(len(list1)):
        result.append(list1[i] + list2[i])
    return result

# Example usage
list1 = [3, 4, 5, 1]
list2 = [6, 7, 2, 8]

output = sum_lists(list1, list2)
print(output)  # Output: [9, 11, 7, 9]

<b> Exercise 4:</b> Write a <b>method</b> which will take the <b>full name</b> as input and return both the first name and last name.
<p>Example:<br>
    Input: Arafat Rahman Sunny<br>
    Output: First name: Arafat, Last name: Sunny</p>

In [ ]:
def get_first_last_name(full_name):
    parts = full_name.split()
    first_name = parts[0]
    last_name = parts[-1]
    return first_name, last_name

# Example usage
full_name = input("Enter your full name: ")
first, last = get_first_last_name(full_name)
print(f"First name: {first}, Last name: {last}")

**Do More Exercises**