# About this notebook
<p style="text-align: justify"> Here, you will learn the basic coding and data structures including numbers, strings, list, dictionaries and more. Some codes already done for demonstration. Some other codes, you will do as excercises.</p>

## Submission
<p style="text-align: justify">After completing the practice codes and exercises, download the notebook (.pynb file) and submit the notebook  to MS Teams inbox in the class period.</p>
<p> 1.<b> You must submit your own code</b>. If similarity found negative marking will be given.</p>

<p> 2. Other file format (except .pynb) or link will not be accepted.</p>

# Number

**Basic Arithmetic Operations**

In [ ]:
# Addition, Subtraction, Multiplication, Division
a = 10
b = 5

sum_result = a + b
difference_result = a - b
product_result = a * b
division_result = a / b

print(f"Sum: {sum_result}, Difference: {difference_result}, Product: {product_result}, Division: {division_result}")

Sum: 15, Difference: 5, Product: 50, Division: 2.0

In [1]:
x = 20
y = 4

add_result = x + y
subtract_result = x - y
multiply_result = x * y
divide_result = x / y

print(f"Addition: {add_result}, Subtraction: {subtract_result}, Multiplication: {multiply_result}, Division: {divide_result}")

Addition: 24, Subtraction: 16, Multiplication: 80, Division: 5.0

**Exponentiation and Modulus**

In [ ]:
# Exponentiation (Power) and Modulus (Remainder)
base = 2
exponent = 3

power_result = base ** exponent
modulus_result = a % b

print(f"Power: {power_result}, Modulus: {modulus_result}")

Power: 8, Modulus: 0

In [2]:
num = 5
power = 2

exp_result = num ** power
remainder_result = num % 3

print(f"Exponentiation: {exp_result}, Remainder: {remainder_result}")

Exponentiation: 25, Remainder: 2

**Floor Division**

In [ ]:
# Floor Division
floor_result = a // b   # floored division result

print(f"Floor Division: {floor_result}")

Floor Division: 2

In [3]:
m = 15
n = 4

floor_div_result = m // n

print(f"Floor Division: {floor_div_result}")

Floor Division: 3

**Absolute Value and Rounding**

In [ ]:
# Absolute Value and Rounding
negative_number = -7.5

absolute_value = abs(negative_number)
rounded_value = round(negative_number)

print(f"Absolute Value: {absolute_value}, Rounded Value: {rounded_value}")

Absolute Value: 7.5, Rounded Value: -8

In [4]:
another_number = -3.8

absolute_value = abs(another_number)
rounded_value = round(another_number)

print(f"Absolute Value: {absolute_value}, Rounded Value: {rounded_value}")

Absolute Value: 3.8, Rounded Value: -4

**Using the math module for advanced number operations**

In [5]:
import math

# Square root, Factorial, and Trigonometric functions
square_root = math.sqrt(16)
factorial_result = math.factorial(5)
sin_value = math.sin(math.radians(30))

print(f"Square Root: {square_root}, Factorial: {factorial_result}, sin(30 degrees): {sin_value}")

Square Root: 4.0, Factorial: 120, sin(30 degrees): 0.49999999999999994

In [6]:
import math

square_root = math.sqrt(25)
factorial_result = math.factorial(4)
cos_value = math.cos(math.radians(60))

print(f"Square Root: {square_root}, Factorial: {factorial_result}, cos(60 degrees): {cos_value}")

Square Root: 5.0, Factorial: 24, cos(60 degrees): 0.5000000000000001

**Random Number Generation**

In [7]:
import random

# Generate a random number between 1 and 100
random_number = random.randint(1, 100)
print(f"Random Number: {random_number}")

# Generate a random float between 0 and 1
random_float = random.random()
print(f"Random Float: {random_float}")

Random Number: 55
Random Float: 0.6882417368158009

In [8]:
import random

random_number = random.randint(1, 100)
print(f"Random Number: {random_number}")

random_float = random.random()
print(f"Random Float: {random_float}")

Random Number: 77
Random Float: 0.8480233233708733

<b>Note:</b> A cell in Python will only display the value of the last expression. If you want to output other values, you should use the *print()* function.

# Object types
The basic object types are Numbers, Strings, Lists, Dictionaries, Tuples, Files and Other types (Sets, types, None, Booleans etc.)

**Integer and Float**

In [ ]:
a=10.5
b=6

In [ ]:
# Checking the type of an object
print(type(a))
print(type(b))

<class 'float'>
<class 'int'>

In [10]:
a = 50.5
b = 9

print(type(a))
print(type(b))

<class 'float'>
<class 'int'>

**String**

In [ ]:
# Concatenation
greeting = "Hello, "
name = "Alice"
message = greeting + name  # Combine strings
print(message)

Hello, Alice

In [11]:
greeting = "Hello, "
name = "Safkat"
message = greeting + name
print(message)

Hello, Safkat

In [ ]:
# Repetition
repeat_string = "Hi! " * 3
print(repeat_string)

Hi! Hi! Hi!

In [12]:
repeat_string = "Bye! " * 3
print(repeat_string)

Bye! Bye! Bye!

In [13]:
# Slicing
text = "Hello, World!"
substring = text[7:12]  # Extract substring
print(substring)

World

In [16]:
text = "Good, Morning!"
substring = text[6:14]  # Extract substring
print(substring)

Morning!

In [19]:
# Changing case
text = "hello"
upper_case = text.upper()  # Convert to uppercase
lower_case = text.lower()  # Convert to lowercase
print(upper_case)
print(lower_case)

HELLO
hello

In [17]:
text = "Night"
upper_case = text.upper()  # Convert to uppercase
lower_case = text.lower()  # Convert to lowercase
print(upper_case)
print(lower_case)

NIGHT
night

In [18]:
# Stripping whitespace
text = "   Hello, World!   "
stripped_text = text.strip()  # Removes spaces from both ends
print(stripped_text)

Hello, World!

In [20]:
# Stripping whitespace
text = "   Good   "
stripped_text = text.strip()  # Removes spaces from both ends
print(stripped_text)

Good

In [21]:
# Finding substring
text = "Hello, World!"
index = text.find("World")  # Returns the index where "substring" starts
print(index)

7

In [22]:
text = "Welcome to AIUB"
index = text.find("AIUB")  # Returns the index where "substring" starts
print(index)

11

In [23]:
# Replacing substring
text = "Hello, World!"
new_text = text.replace("World", "Python")
print(new_text)

Hello, Python!

In [24]:
text = "Hello, World!"
new_text = text.replace("World", "AIUB")
print(new_text)

Hello, AIUB!

In [25]:
# Checking substring existence
text = "Hello, World!"
contains_hello = "Hello" in text
contains_python = "Python" in text
print(contains_hello)
print(contains_python)

True
False

In [26]:
text = "Hello, World!"
contains_hello = "World" in text
contains_python = "AIUB" in text
print(contains_hello)
print(contains_python)

True
False

In [27]:
# String length
text = "Hello, World!"
length = len(text)
print(length)

13

In [28]:
text = "Good Morning!"
length = len(text)
print(length)

13

In [29]:
# Splitting string
text = "apple,banana,orange"
fruits = text.split(",")  # Split by comma
print(fruits)

['apple', 'banana', 'orange']

In [30]:
text = "Mango,Apple,Jackfruit"
fruits = text.split(",")  # Split by comma
print(fruits)

['Mango', 'Apple', 'Jackfruit']

In [31]:
# Joining strings
fruits = ['apple', 'banana', 'orange']
joined_fruits = ", ".join(fruits)
print(joined_fruits)

apple, banana, orange

In [32]:
fruits = ['Mango', 'Apple', 'Jackfruite']
joined_fruits = ", ".join(fruits)
print(joined_fruits)

Mango, Apple, Jackfruite

In [33]:
# String formatting
name = "Alice"
age = 25
formatted_string = f"My name is {name} and I am {age} years old."
print(formatted_string)

My name is Alice and I am 25 years old.

In [34]:
city = "Paris"
temperature = 22
formatted_string = f"The weather in {city} is {temperature} degrees Celsius."
print(formatted_string)

The weather in Paris is 22 degrees Celsius.

In [36]:
# Checking start or end
text = "Hello, World!"
starts_with_hello = text.startswith("Hello")
ends_with_world = text.endswith("World!")
print(starts_with_hello)
print(ends_with_world)

True
True

In [35]:
message = "Good morning, everyone!"
starts_with_good = message.startswith("Good")
ends_with_everyone = message.endswith("everyone!")
print(starts_with_good)
print(ends_with_everyone)

True
True

In [37]:
# Counting occurrences
text = "banana"
count_a = text.count("a")
print(count_a)

3

In [38]:
text = "pineapple"
count_p = text.count("p")
print(count_p)

3

In [39]:
# Checking if alphabetic
text = "Hello"
is_alpha = text.isalpha()
print(is_alpha)

text = "Hello123"
is_alpha = text.isalpha()
print(is_alpha)

True
False

In [40]:
text = "Python"
is_alpha = text.isalpha()
print(is_alpha)

text = "Python3"
is_alpha = text.isalpha()
print(is_alpha)

True
False

In [41]:
# Negative index example
text = "Hello, World!"
last_char = text[-1:]  # Last character
print(last_char)

!

In [42]:
text = "Goodbye!"
last_char = text[-1:]
print(last_char)

!

In [46]:
# Negative index slicing
substring = text[-6:-1]
print(substring)

ammin

In [49]:
text = "Artificial"
substring = text[-8:-2]
print(substring)

tifici

In [50]:
# Reversing string
reversed_text = text[::-1]  # Reverse the entire string
print(reversed_text)

laicifitrA

In [52]:
text = "Adventure"
reversed_text = text[::-1]
print(reversed_text)

erutnevdA

In [53]:
# Slicing with negative step
reversed_substring = text[-7:-1:2]  # Start from index -7, stop at index -1, step by 2
print(reversed_substring)

vnu

In [54]:
text = "Programming"
reversed_substring = text[-7:-1:2]
print(reversed_substring)

rmi

**List**

In [55]:
# Creating a list
fruits = ["apple", "banana", "cherry"]
print(fruits)

['apple', 'banana', 'cherry']

In [56]:
colors = ["red", "green", "blue"]
print(colors)

['red', 'green', 'blue']

In [57]:
# Accessing list elements
first_fruit = fruits[0]
print(first_fruit)

last_fruit = fruits[-1]  # Last element
print(last_fruit)

apple
cherry

In [58]:
colors = ["red", "green", "blue"]

first_color = colors[0]
print(first_color)

last_color = colors[-1]
print(last_color)

red
blue

Like strings (and all other built-in sequence types), lists can be indexed and sliced:

In [59]:
# Slicing a list
sublist = fruits[1:3]  # Elements from index 1 to 2
print(sublist)

['banana', 'cherry']

In [60]:
colors = ["red", "green", "blue", "yellow"]

sublist = colors[1:3]
print(sublist)

['green', 'blue']

In [61]:
# Appending an element
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [62]:
colors = ["red", "green", "blue"]
colors.append("purple")
print(colors)

['red', 'green', 'blue', 'purple']

In [63]:
# Inserting an element
fruits.insert(1, "grape")  # Insert "grape" at index 1
print(fruits)

['apple', 'grape', 'banana', 'cherry', 'orange']

In [64]:
colors = ["red", "green", "blue"]
colors.insert(1, "yellow")
print(colors)

['red', 'yellow', 'green', 'blue']

In [65]:
# Removing by value
fruits.remove("banana")
print(fruits)

# Removing by index
removed_fruit = fruits.pop(2)  # Removes element at index 2
print(removed_fruit)
print(fruits)

['apple', 'grape', 'cherry', 'orange']
cherry
['apple', 'grape', 'orange']

In [66]:
colors = ["red", "yellow", "green", "blue"]

colors.remove("yellow")
print(colors)

removed_color = colors.pop(2)
print(removed_color)
print(colors)

['red', 'green', 'blue']
blue
['red', 'green']

In [67]:
# Finding the index of an element
index_of_grape = fruits.index("grape")
print(index_of_grape)

1

In [68]:
colors = ["red", "yellow", "green", "blue"]
index_of_green = colors.index("green")
print(index_of_green)

2

In [69]:
# Checking existence of an element
exists = "apple" in fruits
print(exists)

exists = "banana" in fruits
print(exists)

True
False

In [70]:
colors = ["red", "yellow", "green", "blue"]

exists = "red" in colors
print(exists)

exists = "purple" in colors
print(exists)

True
False

In [71]:
# Getting the length of the list
length = len(fruits)
print(length)

3

In [72]:
colors = ["red", "yellow", "green", "blue"]
length = len(colors)
print(length)

4

In [73]:
# Sorting a list
fruits = ["orange", "banana", "apple", "grape"]
fruits.sort()
print(fruits)

['apple', 'banana', 'grape', 'orange']

In [74]:
numbers = [42, 7, 19, 3, 88]
numbers.sort()
print(numbers)

[3, 7, 19, 42, 88]

In [75]:
# Reversing a list
fruits.reverse()
print(fruits)

['orange', 'grape', 'banana', 'apple']

In [76]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [77]:
# List comprehension
numbers = [1, 2, 3, 4, 5]
squared_numbers = [n ** 2 for n in numbers]
print(squared_numbers)

[1, 4, 9, 16, 25]

In [78]:
numbers = [6, 7, 8, 9, 10]
cubed_numbers = [n ** 3 for n in numbers]
print(cubed_numbers)

[216, 343, 512, 729, 1000]

In [79]:
# Extending a list
more_fruits = ["kiwi", "melon"]
fruits.extend(more_fruits)
print(fruits)

['orange', 'grape', 'banana', 'apple', 'kiwi', 'melon']

In [80]:
vegetables = ["carrot", "spinach"]
more_veggies = ["broccoli", "pepper"]
vegetables.extend(more_veggies)
print(vegetables)

['carrot', 'spinach', 'broccoli', 'pepper']

In [81]:
# List with different data types in nested lists
mixed_nested_list = [[1, "apple", 3.14], [True, "banana", None], [False, 42, "hello"]]

# Accessing elements
print(mixed_nested_list[0])
print(mixed_nested_list[1][1])
print(mixed_nested_list[2][2])

# Modifying an element in the nested list
mixed_nested_list[2][0] = True
print(mixed_nested_list)

[1, 'apple', 3.14]
banana
hello
[[1, 'apple', 3.14], [True, 'banana', None], [True, 42, 'hello']]

In [83]:
mixed_nested_list = [[10, "Red", 3.1416], [True, "Blue", None], [False, 50, "Yellow"]]

print(mixed_nested_list[0])
print(mixed_nested_list[1][1])
print(mixed_nested_list[2][2])

mixed_nested_list[2][0] = True
print(mixed_nested_list)

[10, 'Red', 3.1416]
Blue
Yellow
[[10, 'Red', 3.1416], [True, 'Blue', None], [True, 50, 'Yellow']]

Lists also support operations like concatenation

In [84]:
# Two lists to concatenate
list1 = [1, 2, 3]
list2 = [4, 5, 6]

# Concatenating the lists
result = list1 + list2
print(result)  # Output: [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [85]:
list1 = ['a', 'b', 'c']
list2 = ['d', 'e', 'f']

result = list1 + list2
print(result)

['a', 'b', 'c', 'd', 'e', 'f']

**Dictionary**
<p style="text-align: justify">Dictionaries are sometimes found in other languages as associative memories or associative arrays. Unlike sequences, which are indexed by a range of numbers, dictionaries are indexed by keys, which can be any immutable type; strings and numbers can always be keys.</p>

<p style="text-align: justify">It is best to think of a dictionary as a set of key: value pairs, with the requirement that the keys are unique (within one dictionary). A pair of braces creates an empty dictionary: {}. Placing a comma-separated list of key:value pairs within the braces adds initial key:value pairs to the dictionary; this is also the way dictionaries are written on output.</p>

In [86]:
# Using curly braces
person = {"name": "John", "age": 25, "city": "New York"}

# Using dict() constructor
person2 = dict(name="Jane", age=30, city="Los Angeles")

print(person)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [87]:
car = {"make": "Toyota", "model": "Corolla", "year": 2020}
car2 = dict(make="Honda", model="Civic", year=2022)

print(car)

{'make': 'Toyota', 'model': 'Corolla', 'year': 2020}

In [88]:
# Accessing a value using a key
print(person["name"])
print(person2["age"])

# Using get() method (safe way to access values)
print(person.get("city"))
print(person.get("country", "Not found"))

John
30
New York
Not found

In [95]:
# Accessing a value using a key
print(car["make"])
print(car2["model"])

# Using get() method (safe way to access values)
print(car.get("year"))
print(car.get("Registertion", "Not found"))

2006
Civic
2020
Not found

In [91]:
# Adding a new key-value pair
person["country"] = "USA"
print(person)

# Updating an existing key-value pair
person["age"] = 26
print(person)

{'name': 'John', 'age': 25, 'city': 'New York', 'country': 'USA'}
{'name': 'John', 'age': 26, 'city': 'New York', 'country': 'USA'}

In [94]:
car["country"] = "Japan"
print(car)

# Updating an existing key-value pair
car["make"] = 2006
print(car2)

{'make': 'Toyota', 'model': 'Corolla', 'year': 2020, 'country': 'Japan'}
{'make': 'Honda', 'model': 'Civic', 'year': 2022}

In [96]:
# Using del to remove a key-value pair
del person["city"]
print(person)

# Using pop() to remove a key-value pair and get the value
age = person.pop("age")
print(person)
print(age)

# Using popitem() to remove and return the last key-value pair
last_item = person.popitem()
print(person)
print(last_item)

{'name': 'John', 'age': 26, 'country': 'USA'}
{'name': 'John', 'country': 'USA'}
26
{'name': 'John'}
('country', 'USA')

In [100]:
del car["year"]
print(car)

make = car.pop("make")
print(car)
print(make)

last_item = car.popitem()
print(car)
print(last_item)

{'make': 2006, 'model': 'Corolla', 'country': 'Japan'}
{'model': 'Corolla', 'country': 'Japan'}
2006
{'model': 'Corolla'}
('country', 'Japan')

In [97]:
# Checking if a key exists
print("name" in person)
print("age" in person)

True
False

In [101]:
# Iterating over keys
for key in person:
    print(key)

# Iterating over values
for value in person.values():
    print(value)

# Iterating over key-value pairs
for key, value in person.items():
    print(key, value)

name
John
name John

In [102]:
for key in car:
    print(key)

for value in car.values():
    print(value)

for key, value in car.items():
    print(key, value)

model
Corolla
model Corolla

**Tuples and Sets**
<br>Use the content from [here](https://docs.python.org/3/tutorial/datastructures.html#tuples-and-sequences) to follow some examples on tuple and set.

In [ ]:
# code from here

<b> Exercise 1:</b> Implement stack using list
<p><b>Hints:</b> The list methods make it very easy to use a list as a stack, where the last element added is the first element retrieved (last-in, first-out). To add an item to the top of the stack, use append(). To retrieve an item from the top of the stack, use pop() without an explicit index</p>

In [104]:
# Stack implementation using list

stack = []

# Add items to the stack
stack.append('a')
stack.append('b')
stack.append('c')

print("Stack after pushes:", stack)

# Remove items from the stack (LIFO)
top_item = stack.pop()
print("Popped item:", top_item)
print("Stack after pop:", stack)

# Pop remaining items
while stack:
    print("Popped:", stack.pop())

print("Stack is now empty:", stack)

Stack after pushes: ['a', 'b', 'c']
Popped item: c
Stack after pop: ['a', 'b']
Popped: b
Popped: a
Stack is now empty: []

<b> Exercise 2:</b> Implement queue using list
<p><b>Hints:</b> It is also possible to use a list as a queue, where the first element added is the first element retrieved (first-in, first-out)</p>

In [105]:
# Queue implementation using list

queue = []

# Enqueue items (add to the end)
queue.append('a')
queue.append('b')
queue.append('c')

print("Queue after enqueues:", queue)

# Dequeue items (remove from the front)
first_item = queue.pop(0)
print("Dequeued item:", first_item)
print("Queue after dequeue:", queue)

# Dequeue remaining items
while queue:
    print("Dequeued:", queue.pop(0))

print("Queue is now empty:", queue)

Queue after enqueues: ['a', 'b', 'c']
Dequeued item: a
Queue after dequeue: ['b', 'c']
Dequeued: b
Dequeued: c
Queue is now empty: []

<b> Exercise 3:</b> Define a dictionary to store the details of 3 persons. Also, print some data from the dictionary.
 <p><b>Hint:</b> You may require nesting dictionary, lists, string inside the dictionary.</p>

In [106]:
# Dictionary storing details of 3 persons
people = {
    "person1": {
        "name": "Alice",
        "age": 28,
        "hobbies": ["reading", "hiking", "coding"],
        "address": {
            "city": "New York",
            "zip": "10001"
        }
    },
    "person2": {
        "name": "Bob",
        "age": 34,
        "hobbies": ["cooking", "traveling"],
        "address": {
            "city": "Los Angeles",
            "zip": "90001"
        }
    },
    "person3": {
        "name": "Charlie",
        "age": 22,
        "hobbies": ["gaming", "cycling"],
        "address": {
            "city": "Chicago",
            "zip": "60601"
        }
    }
}

# Print name and city of person2
print(f"Name: {people['person2']['name']}, City: {people['person2']['address']['city']}")

# Print hobbies of person1
print(f"Hobbies of {people['person1']['name']}: {', '.join(people['person1']['hobbies'])}")

# Print age of person3
print(f"Age of {people['person3']['name']}: {people['person3']['age']}")

Name: Bob, City: Los Angeles
Hobbies of Alice: reading, hiking, coding
Age of Charlie: 22

# You may add more examples by yourself below

In [ ]:
#CODE